.post .word_post_info {
    width: auto;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 1px 0 0 -3px;
    overflow: hidden;
}

.word_post_info li {
    line-height: 38px;
    margin-bottom: 10px;
    float: left;
}

.word_post_info li a {
    margin: 0 10px 0 0;
    padding: 0 2px 0 5px;
}

.post .word_post_info.floating {
    width: 157px;
    float: left;
}

.post .word_post_info.floating li {
    float: none;
}

#footer {
    width: 700px;
    color: #4C4C4C;
    font-size: 14px;
    margin: 0 auto;
}